<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head") %>
    </head>
    <body>
        <div class="App d-flex flex-column min-vh-100">
            <header>
                <%- include("../partials/navbar") %>
            </header>
            <main class="flex-grow-1 pt-4 px-0 d-flex justify-content-center">
                <div class="container-fluid px-0 pt-3">
                    <div class="row justify-content-center m-0 h-100">
                        <div class="col-lg-2 text-bg-success pt-5 px-1 flex-grow-1 left-panel-container"> 
                            <%- include("../partials/left-panel") %>
                        </div>
                        <div class="col-lg-10 pt-5 px-5 main-container">
                            <%- body %>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>