<div class="modal fade" id="productViewModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">  
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Product Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid d-flex flex-column justify-content-center pt-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-6 d-flex justify-content-center">
                            <img src="/images/cotton-t-shirt-men-hot-2018-fashion-men-039.jpg" alt="" height="80%" width="90%">
                        </div>
                        <div class="col-md-6 d-flex flex-column gap-4">
                            <div class="product-basics row d-flex flex-column">
                                <h2 class="name" id="name"></h2>
                                <p class="salePrices" id="price"></p>
                            </div>
                            <div class="product-info row d-flex">
                                <div class="col-lg-6">
                                    <h2 class="h5">SKU:</h2>
                                    <p class="sku" id="price"></p>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="h5">Unit</h2>
                                    <p class="unit" id="price"></p>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="h5">Dimension</h2>
                                    <p class="dimension" id="price"></p>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="h5">Weight</h2>
                                    <p class="weight" id="price"></p>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="h5">Brand</h2>
                                    <p class="brand" id="price"></p>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="h5">Manufacturer</h2>
                                    <p class="manufacturer" id="price"></p>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="h5">Color</h2>
                                    <p class="color" id="price"></p>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="h5">Category</h2>
                                    <p class="category" id="price"></p>
                                </div>
                            </div>
                            <div class="product-prices row d-flex">
                                <div class="col-lg-6">
                                    <h2 class="h5">Sale Price</h2>
                                    <p class="salePrice" id="price"></p>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="h5">Purchase Price</h2>
                                    <p class="purchasePrice" id="price"></p>
                                </div>
                            </div>
                            <div class="product-inventory row d-flex">
                                <div class="col-lg-6">
                                    <h2 class="h5">Opening Stock</h2>
                                    <p class="openingStock" id="price"></p>
                                </div>
                                <div class="col-lg-6">
                                    <h2 class="h5">Opening Stock Rate Per Unit</h2>
                                    <p class="openingStockRPU" id="price"></p>
                                </div>
                            </div>
                            <div class="product-description row w-100 d-flex justify-content-center text-break">
                                <div class="col-lg-6">
                                    <h2 class="h5">Sale Description</h2>
                                    <p class="saleDescription" id="price"></p>
                                </div>
                                <div class="col-lg-6 productColors">
                                    <h2 class="h5">Purchase Description</h2>
                                    <p class="purchaseDescription" id="price"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-success view-modal-edit" id="view-modal-edit" >Edit</button>
                    <button type="button" class="btn btn-outline-success view-modal-delete" id="view-modal-delete">Delete</button>     
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>