<div class="footer">
    <div class="container">
        <span class="text-muted">&copy; 2025 E-Web-Store | All Rights Reserved Madhav Saraf</span>
    </div>
</div>
<script>
    (() => {
        'use strict'
    
        const forms = document.querySelectorAll('.needs-validation')
    
        Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
            if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
            }
    
            form.classList.add('was-validated')
        }, false)
        })
    })();
</script>