.left-panel{
    box-sizing: border-box;
}
.app-nav{
    list-style-type: none;
    text-align: left;
    gap: 10px;
    padding-inline-start: unset;
    margin-inline-start: unset;
    margin-block: unset;
}
.app-nav .item{
    border-radius: 15px !important;
    box-sizing: border-box;
    align-items: center;
    border: none;
}
.app-nav .item.active{
    background-color: black;
    color: white !important;
}
.app-nav .item a{
    text-decoration: none;
    color: unset;
    width: 100%; 
    padding: 5px; 
}
.app-nav .item:focus-within{
    outline: solid #009BEF 2px;
    outline-offset: 2px;
}
.app-nav .item a:focus{
    outline: none;
}